<div class="card2 mobile-box">
  <% time = Time.new %>
  <div class="blue-bg text-center">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-4 text-left">
          <%= link_to "Back", session[:my_previous_url] %>
        </div>
        <div class="col-xs-4 text-center"><%= time.hour.to_s + ":" + time.min.to_s  %></div>
        <div class="col-xs-4  text-right">
          <a  class=" dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"  aria-expanded="false">
            <i class="fa fa-ellipsis-v white-text"></i>
          </a>
          <div class="dropdown-menu">
            <%= link_to "Signout", destroy_user_session_path, :method => :delete %> 
          </div> 
        </div>
      </div>
    </div>
  </div>
  <div class="grey text-center">
    Chat List
  </div>
  <div align = "center">
    <%= link_to image_tag("add.jpg", :height => 60, :width => 60, :title => "Start New COnversation"), new_conversation_path%>
  </div>
  <div align="center">
    <h3>All Chats</h3>
      <div class="table-responsive">
        <table class="table table-striped">
          <tr>
            <th>User</th>
            <th></th>
            <th>Messages</th>
          </tr>
          <% @conversations.each do |conversation| %>
            <% if conversation.sender_id == current_user.id || conversation.recipient_id == current_user.id %>
              <% if conversation.sender_id == current_user.id %>
                <% recipient = User.find(conversation.recipient_id) %>
              <% else %>
                <% recipient = User.find(conversation.sender_id) %>
              <% end %>
              <% if conversation.messages.present?%>
                <tr>
                  <td><%= recipient.email%></td>
                  <td></td>
                  <td><%= link_to conversation.messages.last.body,   conversation_messages_path(conversation)%></td>
                </tr>
              <%end%>
            <% end %>
          <% end %>
        </table>
      </div>
    <div >
    <div></div>
    </div>
  </div>